<div class="container">
  <h2>Production By Quantity</h2>
  <form [formGroup]="productionForm" (ngSubmit)="saveProductionData()" class="mt-4">
    <div class="mb-3">
      <label for="productName" class="form-label">Product Name:</label>
      <select id="productName" formControlName="productName" name="productName" class="form-select">
        <option *ngFor="let product of products" [value]="product.productName">{{ product.productName }}</option>
      </select>
      <div *ngIf="productionForm.get('productName')?.hasError('required')" class="text-danger">
        Product Name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="productionQuantity" class="form-label">Production Quantity:</label>
      <input type="number" id="productionQuantity" formControlName="productionQuantity" name="productionQuantity" class="form-control">
      <div *ngIf="productionForm.get('productionQuantity')?.hasError('required')" class="text-danger">
        Production Quantity is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="productionDate" class="form-label">Production Date:</label>
      <input type="date" id="productionDate" formControlName="productionDate" name="productionDate" class="form-control">
      <div *ngIf="productionForm.get('productionDate')?.hasError('required')" class="text-danger">
        Production Date is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="qualityControlInfo" class="form-label">Quality Control Info:</label>
      <input type="text" id="qualityControlInfo" formControlName="qualityControlInfo" name="qualityControlInfo" class="form-control">
    </div>

    <div class="mb-3">
      <label for="batchNumber" class="form-label">Batch Number:</label>
      <input type="text" id="batchNumber" formControlName="batchNumber" name="batchNumber" class="form-control">
      <div *ngIf="productionForm.get('batchNumber')?.hasError('required')" class="text-danger">
        Batch Number is required.
      </div>
    </div>

    <button type="submit" [disabled]="productionForm.invalid" class="btn btn-primary">Produce Product</button>
  </form>
</div>


