/* Sidebar */
.sidenav {
    background: #263238;
    transition: all 0.5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
}

/* Logo Container */
.logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
}

/* Logo */
.logo {
    background: #fff;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
}

/* Logo Text */
.logo-text {
    margin-left: 1.5rem;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}

/* Close Button */
.btn-close {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
}

/* Close Icon */
.btn-close .fa-times {
    color: #fff;
    font-size: 24px;
}

/* Expanded Sidebar */
.sidenav-collapsed {
    width: 16.5625rem;
}

/* Navigation List */
.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 3.65rem);
    cursor: pointer;
}

/* Navigation Item */
.sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
}

/* Navigation Link */
.sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
}

/* Navigation Link Icon */
.sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

/* Navigation Link Text */
.sidenav-link-text {
    margin-left: 1.5rem;
}

/* Active Navigation Item */
.active {
    background-color: #fff;
}

/* Active Navigation Link Icons and Text */
.active .menu-collapse-icon,
.active .sidenav-link-icon,
.active .sidenav-link-text {
    color: #000;
}

/* Menu Collapse Icon */
.menu-collapse-icon {
    font-size: 25px;
    width: 2rem;
    min-width: 2rem;
    margin: auto 0.5rem auto auto;
    text-align: center;
    color: #f3f3f3;
}

/* Sublevel Navigation */
.sublevel-nav {
    list-style: none;
    margin-left: 10px;
}

/* Sublevel Navigation Item */


/* Sublevel Navigation Link */
.sublevel-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #898989;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all 0.3s ease;
    padding-left: 1.5rem; /* Adjust padding as needed */
}

/* Sublevel Navigation Link Hover */
.sublevel-nav-link:hover {
    color: #f3f3f3; /* Change text color on hover */
    background-color: #333; /* Change background color on hover */
    /* Add any other hover styles as needed */
}

/* Sublevel Navigation Link Icon */
.sublevel-link-icon {
    font-size: 22px; /* Adjust icon size */
    width: 2rem;
    min-width: 2rem;
    margin-right: 0.5rem; /* Adjust icon margin as needed */
    text-align: center;
}

/* Sublevel Navigation Link Text */
.sublevel-link-text {
    margin-left: 0.8rem; /* Adjust text margin as needed */
    /* Add any other text styles as needed */
}
