/* Custom CSS for alignment and styling */
.container {
    margin-top: 20px;
  }
  
  /* Styles for Total Suppliers and Total Payment Amount sections */
  .row h2 {
    margin-bottom: 20px;
  }
  
  .text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }

  /* .new-text {
    background-color: red;
    color: white;
  } */

  @keyframes colorChange {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }

  .new-text {
    animation: colorChange 1s infinite; /* Adjust the animation duration and iteration count as needed */
    font-weight: bold;
  }
  



  
  