<!-- <h2>Warehouse Check</h2>
  <qrcode *ngIf="qrCodeValue" [qrdata]="qrCodeValue"></qrcode>

  <div>
    <h2>QR Code</h2>
    <p>QR Code Value: {{ qrCodeValue }}</p>
    <button (click)="updateProductStatus()">Update Status</button>
  </div> -->


  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Warehouse Check</h2>
        <qrcode *ngIf="qrCodeValue" [qrdata]="qrCodeValue"></qrcode>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2>QR Code</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Batch</th>
                  <th>Quantity</th>
                  <th>Worker</th>
                  <th>Trucker</th>
                </tr>
              </thead>
              <tbody *ngIf="qrCodeValue">
                <tr>
                  <td>{{ getProductField(0) }}</td>
                  <td>{{ getProductField(1) }}</td>
                  <td>{{ getProductField(2) }}</td>
                  <td>{{ getProductField(3) }}</td>
                  <td>{{ getProductField(4) }}</td>
                </tr>
              </tbody>
            </table>
            <button class="btn" [ngClass]="{'btn-primary': !isStatusUpdated, 'btn-success': isStatusUpdated}" (click)="updateProductStatus()">
              {{ buttonText }}
            </button>          </div>
        </div>
      </div>
    </div>
  </div>
  





  
 